<nav class="navbar navbar-default nav-fill">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1>Battle Bots</h1>
      </div>
    </div>
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" style="cursor: pointer;">Robots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/battlelist">Battle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/battlelog">Battle Logs</a>
        </li>
      </ul>
    </div>
</nav>