<div class="card text-center">
    <img class="card-img-top rounded-circle mx-auto" style="height: 100px; width: 140px;" id="robot" name="robot" src="../../../../assets/images/robot_head.jpg" alt="Robot">
    <h4 class="card-title">{{ robot.name }}</h4>
    <div class="card-body text-center mt-n4">
        <div class="row">
            <h5 class="card-subtitled col-6 offset-3" style="color: {{ robot.color }}">{{ robot.color }}</h5>
        </div>
        <dl class="row">                                    
            <dd class="col-md-12 align-middle mx-0" id="attack">Attack: {{ robot.attack }}</dd>
        </dl>
        <dl class="row">                                    
            <dd class="col-md-12 align-middle mx-0" id="defense">Defense: {{ robot.defense }}</dd>
        </dl>
    </div>
  </div>
